<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="blocks/header"></head>
<body>
    <header th:insert="blocks/nav"></header>
    <form method="post" th:action="@{/admin/alcohol}" class="login">
        <label for="name">Название алкоголя</label>
        <input name="name" type="text" placeholder="OakHeart" id="name">
        <label for="strength">Крепость</label>
        <input name="strength" type="number" placeholder="40%" id="strength">
        <button type="submit">Добавить</button>
    </form>
</body>
</html>