<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="blocks/header"></head>
<body>
    <header th:insert="blocks/nav"></header>
    <section class="foods">
        <div th:each="food :${foods}" class="food-one-block">
            <div class="food">
                <form method="post">
                    <label th:text="${food.name}"></label>
                    <div>
                        <button th:formaction="@{/user/food/like/} + ${food.id}"
                                th:disabled="${user.foods.contains(food)}">
                            like
                        </button>
                        <button th:formaction="@{/user/food/dislike/} + ${food.id}"
                                th:disabled="!${user.foods.contains(food)}">
                            dislike
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
<!--th:if="!${user.foods.contains(food)}"-->
<!--th:if="${user.foods.contains(food)}-->