<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="blocks/header"></head>
<body>
    <header th:insert="blocks/nav"></header>
    <form method="post" th:action="@{/user/party/join}" class="login">
        <label for="name">ID вечеринки</label>
        <input name="id" type="text" placeholder="ID вечеринки" id="name">
        <label for="place">Код доступа</label>
        <input name="text" type="text" placeholder="Код" id="place">
        <button type="submit">Войти</button>
        <p th:if="${error} != null" th:text="${error}"></p>
    </form>
</body>
</html>