<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="blocks/header"></head>
<body>
    <header th:insert="blocks/nav"></header>
    <form method="post" th:action="@{/login}" class="login">
        <label for="login">Логин</label>
        <input name="username" type="text" placeholder="логин" id="login">
        <label for="password">Пароль</label>
        <input name="password" type="password" placeholder="пароль" id="password">
        <button type="submit">Войти</button>
        <p th:if="${(param.error != null) and (param.error[0] == 'true')}">
            ошибка входа
        </p>
    </form>
</body>
</html>