<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вечеринка</title>
    <link rel="stylesheet" href="./main.css">
    <script src="../script/config.js"></script>
</head>
<body>
    <script src="./nav.js"></script>
    <script type="module" src="../script/party.js"></script>
    <section class="party-info">
        <div class="party-info-child">
        </div>
        <div class="party-info-child">
            <h3>Предпочтения по еде</h3>
            <div class="party-food-list" id="party-foods"></div>
        </div>
        <div class="party-info-child">
            <h3>Данные вечеринки</h3>
            <div class="settings-block">
                <div class="party-settings">
                    <p>Название: </p>
                    <p id="party-name"></p>
                </div>
                <div class="party-settings">
                    <p>Место: </p>
                    <p id="party-place"></p>
                </div>
                <div class="party-settings">
                    <p>Дата: </p>
                    <p id="party-date"></p>
                </div>
                <div class="party-settings">
                    <p>Идентификатор вечеринки: </p>
                    <p id="party-id"></p>
                </div>
                <div class="party-settings">
                    <p>Код доступа: </p>
                    <p id="party-password"></p>
                </div>
            </div>
        </div>
        <div class="party-info-child">
            <h3>Предпочтения по Алкголю</h3>
            <div class="settings">
                <div class="party-alcohol-list" id="party-alcohol"></div>
            </div>
        </div>
    </section>
    <script type="module" src="../script/party.js"></script>
</body>
</html>